{% extends '../../base.html.twig' %}

{% block title %}New CompanyDetails{% endblock %}

{% block body %}
    <h1>Create new CompanyDetails</h1>

    {{ include('company_details/_form.html.twig') }}

    <a href="{{ path('app_company_details_index') }}">back to list</a>
{% endblock %}
