<div class="w-full">
    <button type="{{ type }}"
            class="text-white bg-pr-blue hover:bg-pr-blue/90 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-30 focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-md w-full  px-5 py-3.5 text-center ">{{ text }}</button>
</div>