<div class="w-full">
    <button
            type="{{ type }}"
            class="hover:scale-30 w-full rounded-lg bg-pr-blue px-5 py-3.5 text-center text-md font-medium text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:bg-pr-blue/90 focus:outline-none focus:ring-4 focus:ring-white dark:bg-pr-blue dark:border-white-font"
    >
        {{ text }}
    </button>
</div>
