<div class="w-full">
<button type="{{ type }}" class="text-white bg-pr-blue hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-md w-full  px-5 py-3.5 text-center ">{{ text }}</button>
</div>