<div class="bg-[#EFF4FB] h-screen" >
        {{ component('Alert', { message: 'Hello Twig Components!' }) }}
        <twig:Alert message="Or use the fun HTML syntax!" />
        Contenue principal de la page !
</div>