<header class="bg-white">
  <nav class="mx-12 flex items-center justify-end py-6" aria-label="Global">
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>

    {# ------------------------------------------------------------------------ TOGGLE DARK MODE ------------------------------------------------------------------------ #}
    <div class="hidden items-center lg:flex lg:gap-x-6">
      <button
        :value="darkMode"
        @click="darkMode = !darkMode"
        data-tooltip-target="default-pagination-example-toggle-dark-mode-tooltip"
        type="button"
        data-toggle-dark="dark"
        class="toggle-dark-state-example flex h-9 w-9 items-center justify-center rounded-lg border border-gray-200 bg-white text-xs font-medium text-gray-700 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-500"
      >
        <svg
          x-bind:class="{ 'hidden': darkMode }"
          class="h-3.5 w-3.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 18 20"
        >
          <path
            d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"
          ></path>
        </svg>
        <!-- Icône de soleil pour le mode clair -->
        <svg
          x-bind:class="{ 'hidden': !darkMode }"
          class="h-3.5 w-3.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"
          ></path>
        </svg>
        <span class="sr-only">Toggle dark/light mode</span>
      </button>

      <!-- User avatar button -->

      <div>
        <p class="text-[14px] font-medium text-black"></p>
        <p class="text-[12px] font-medium text-pr-grey"></p>
      </div>

      <div class="" x-data="{ open: false }">
        <button
          @click="open = !open; $nextTick(() => { if(open){ $refs.userMenu.focus() } })"
          type="button"
          aria-haspopup="true"
          :aria-expanded="open ? 'true' : 'false'"
          class="block rounded-full transition-opacity duration-200 focus:outline-none focus:ring dark:opacity-75 dark:hover:opacity-100 dark:focus:opacity-100"
        >
          <span class="sr-only">User menu</span>
          <img
            class="h-12 w-12 rounded-full"
            src="https://avatars.githubusercontent.com/u/57622665?s=460&u=8f581f4c4acd4c18c33a87b3e6476112325e8b38&v=4"
            alt="Hamza Mahmood"
          />
        </button>

        <!-- User dropdown menu -->
        <div
          x-show="open"
          x-ref="userMenu"
          x-transition:enter="transition-all transform ease-out"
          x-transition:enter-start="-translate-y-1/2 opacity-0"
          x-transition:enter-end="translate-y-0 opacity-100"
          x-transition:leave="transition-all transform ease-in"
          x-transition:leave-start="translate-y-0 opacity-100"
          x-transition:leave-end="-translate-y-1/2 opacity-0"
          @click.away="open = false"
          @keydown.escape="open = false"
          class="dark:bg-dark absolute bottom-full left-5 right-5 min-w-max max-w-xs rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          tabindex="-1"
          role="menu"
          aria-orientation="vertical"
          aria-label="User menu"
        >
          <a
            href="#"
            role="menuitem"
            class="dark:text-light block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:hover:bg-indigo-600"
          >
            Your Profile
          </a>
          <a
            href="#"
            role="menuitem"
            class="dark:text-light block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:hover:bg-indigo-600"
          >
            Settings
          </a>
          <a
            href="#"
            role="menuitem"
            class="dark:text-light block px-4 py-2 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:hover:bg-indigo-600"
          >
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <div class="-mx-3">
              <button
                type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="disclosure-1"
                aria-expanded="false"
              >
                Product
                <!--
                  Expand/collapse icon, toggle classes based on menu open state.

                  Open: "rotate-180", Closed: ""
                -->
                <svg
                  class="h-5 w-5 flex-none"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
              <!-- 'Product' sub-menu, show/hide based on menu state. -->
              <div class="mt-2 space-y-2" id="disclosure-1">
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Analytics</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Engagement</a
                >
                <a
                  href="#"
                  class="block rounded-lg py-2 pl-6 pr-3 text-sm font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Security</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
