<header class="bg-bg-white dark:bg-dark-pr-blue">
  <nav class="mx-6 lg:mx-12 flex items-center justify-between lg:justify-end py-4" aria-label="Global">
    
  {# --------------------------------------- Burger menu --------------------------------------- #}
    <div class="h-8 lg:hidden block">
  <button @click.prevent="showMenu = !showMenu " class="md:hidden px-2 flex justify-between dark:text-white-font text-black-font">
    <svg x-show="!showMenu" class="w-6 h-6 mr-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
</div>
  {# ----------------------------------------------------------------------------------- #}

    {# ------------------------------------------------------------------------ TOGGLE DARK MODE ------------------------------------------------------------------------ #}
    <div class="items-center flex gap-x-6">
      <button
        :value="darkMode"
        @click="darkMode = !darkMode"
        data-tooltip-target="default-pagination-example-toggle-dark-mode-tooltip"
        type="button"
        data-toggle-dark="dark"
        class="toggle-dark-state-example flex h-9 w-9 items-center justify-center rounded-lg border border-gray-200 hover:bg-pr-blue hover:text-white bg-bg-white text-xs font-medium text-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-gray-300 dark:bg-dark-pr-blue dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        <svg
          x-bind:class="{ 'hidden': darkMode }"
          class="h-3.5 w-3.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 18 20"
        >
          <path
            d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"
          ></path>
        </svg>
        <!-- Icône de soleil pour le mode clair -->
        <svg
          x-bind:class="{ 'hidden': !darkMode }"
          class="h-3.5 w-3.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"
          ></path>
        </svg>
        <span class="sr-only">Toggle dark/light mode</span>
      </button>
</header>
