<div class="w-full" >

<twig:Header />
{% include "page_dashboard.html.twig" %}
    {% include "pages/authentication/page_login.html.twig" %}
    {% include "pages/authentication/page_register.html.twig" %}
</div>