{# select_month_year.html.twig #}
{# <form action="" method="get">
    <label for="mois">Mois :</label>
    <select name="mois" id="mois">
        {% for mois in 1..12 %}
            <option value="{{ mois }}">{{ mois }}</option>
        {% endfor %}
    </select>

    <label for="annee">Année :</label>
    <select name="annee" id="annee">
        {% for annee in (date('Y'))..(date('Y')-10) %}
            <option value="{{ annee }}">{{ annee }}</option>
        {% endfor %}
    </select>

    <button type="submit">Filtrer</button>
</form> #}

