<script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.6.x/dist/component.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>


<div x-data="setup()" :class="{ 'dark': isDark }">
    <aside class="h-screen inset-y-0 z-10 flex-shrink-0 w-64 bg-pr-blue border-r lg:static  focus:outline-none">
        <div class="flex flex-col h-full">
        <!-- Sidebar links -->
        <nav aria-label="Main" class="flex-1 px-2 py-4 space-y-2 overflow-y-hidden hover:overflow-y-auto">
            <twig:Item icon="{{ asset('assets/images/dashboard.svg') }}" ul="Dashboard" linkUl="/Dashboard"/>
            <twig:Item icon="../../../assets/images/dashboard.svg" ul="Devis" />
            <twig:Item icon="../../../assets/images/dashboard.svg" ul="Factures" li="rere" />
            <twig:Item icon="../../../assets/images/dashboard.svg" ul="Clients" li="rere" />
            <twig:Item icon="" ul="Services" li="rere" />
        </nav>

        <!-- Sidebar footer -->
        <div class="relative items-center justify-center flex-shrink-0 px-2 py-4 space-y-2">
            <twig:Item icon="../../../assets/images/dashboard.svg" ul="Paramètres" li="" />
            <twig:Item icon="../../../assets/images/dashboard.svg" ul="Se déconnecter" li="" />
        </div>
        </div>
    </aside>
</div>