{% extends 'base.html.twig' %}

{% set title = "Invox | Produits " %}

{% block content %}
    <div class="flex justify-between">
        <h1>Produits</h1>
    </div>
    <div class="flex justify-end mt-6 gap-2">
        <twig:Button content="Ajouter un produit" path="{{ path('app_product_new') }}"/>
    </div>
    <div>
        <twig:Table modal="{{ modal }}"
                    theads="{{ {"id":"Numéro","name":"Nom","price":"Total TTC","category":"Category"} }}"
                    pathEdit="app_product_edit"
                    pathDelete="app_product_delete" data="{{ data }}" form="{{ SearchBar }}" />
    </div>
{% endblock content %}
