<button type="{{ type }}" class="text-pr-blue bg-white border border-pr-grey w-full hover:bg-pr-grey/20 focus:ring-2 focus:outline-none focus:ring-bg-pr-grey/50 font-medium rounded-lg text-md px-5 py-2.5 text-center inline-flex items-center justify-center  me-2 mb-2">
    <img src="{{ icon }}" alt="Google" class="w-5 h-5 me-2">
    Se-connecter avec Google
</button>