<div class="w-[24%] h-60 bg-white rounded-[2rem] cursor-pointer" >
    <div class="mx-8 mt-9" >
        <img src="{{src}}" alt="picto">
        <h2 class="mt-6">{{number}}</h2>
        <h5 class="mt-6">{{title}}</h5>
    </div>
</div>