<div
  class="bg-bg-white dark:bg-dark-pr-blue border-border-width border-border-color h-60 w-[24%] cursor-pointer rounded-xl"
>
  <div class="mx-8 mt-9">
    <img src="{{ src }}" alt="picto" />
    <h2 class="mt-6">{{ number }}</h2>
    <h5 class="mt-6">{{ title }}</h5>
  </div>
</div>
