{% set totalVentes = 0 %}

{% for montant in totals %}
    {% set totalVentes = totalVentes + montant %}
{% endfor %}

<div
  class="h-full md:w-[59%] w-full rounded-xl border-border-width border-border-color bg-bg-white dark:bg-dark-pr-blue md:mt-0 my-8"
>
  <div>
    <h3 class="mb-4 ml-12 mt-8 font-bold">
      Ventes 12 derniers mois : {{ totalVentes }} €
    </h3>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById("myChart");
    const month = {{ months|json_encode|raw }};
    const dataTotals = {{ totals|json_encode|raw }};

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: month,
        datasets: [{
          label: 'Ventes par mois',
          data: dataTotals,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            // Ajoutez plus de couleurs au besoin
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            // Ajoutez plus de bordures de couleurs au besoin
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
</script>
