<div
  class="rounded-xxl bg-bg-white dark:bg-dark-pr-blue border-border-width border-border-color h-48 w-[100%]"
>
  <div class="ml-12 py-8">
    <h3 class="font-bold">{{ title }}</h3>
    <div class="flex items-center">
      <h1 class="text-[74px]">{{ number }}</h1>
      {# <div
        class="bg-bg-succeed dark:bg-dark-bg-succeed text-text-succeed ml-10 h-8 w-24 rounded-md text-center text-[18px] dark:text-white-font"
      >
        {{ stats }}
      </div> #}
    </div>
  </div>
</div>
