<div class="w-[100%] h-48 bg-white rounded-[2.5rem]">
    <div class="py-8 ml-12">
        <h3 class="font-bold"> {{title}} </h3>
        <div class="flex items-center">
            <h1 class="text-[74px]"> {{number}} </h1>
            <div class="w-24 h-8 bg-[#DAFDD6] text-[#0DEA0C] ml-10 rounded-md text-center text-[18px]">{{stats}}</div>
        </div>
    </div>
</div>