<!DOCTYPE html>
<html>
    <head>
        <twig:Head title="Invox | Dashboard" />
    </head>
    <body class="bg-[#EFF4FB]" >
        <div class="flex w-full " >
            <twig:Sidebar />
            <twig:MainContent />
        </div>
    </body>
</html>
