<!DOCTYPE html>
<html>
<head>
    <twig:Head title="{{ title }}"/>
</head>
<body>
{% block body %}
    <main class="flex w-full bg-bg-button">
        <twig:Sidebar/>
        <div class="w-full">
            <twig:Header/>
            <div class="ml-12">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </main>
{% endblock body %}
</body>
</html>