{% extends 'base.html.twig' %}

{% set title = "Invox | Clients " %}

{% block content %}
    <div class="flex justify-between">
        <h1>Clients</h1>
    </div>
    <div class="flex justify-end mt-6 gap-2">
        <twig:Button content="Ajouter un client" path="{{ path('app_customer_new') }}"/>
    </div>
    <div>
        <twig:Table modal="{{ modal }}"
                    theads="{{ {"id":"Numéro","firstName":"Prénom","lastName":"Nom","email":"E-mail","address":"Adresse"} }}"
                    pathEdit="app_customer_edit"
                    pathDelete="app_customer_delete" data="{{ data }}" form="{{SearchBar}}"/>
    </div>
{% endblock content %}
