{% extends "base.html.twig" %}

{% set title = "Invoice" %}

{% block content %}

<div class="flex w-full " >
    <div class="w-full" >
        <main class="mx-20 mt-11" >
            <div class="flex justify-between" >
                <h1>Devis</h1>
            </div>
            <div class="flex mt-16 justify-between" >
                    <twig:InvoiceCreator invoice="{{ invoice }}"/>
            </div>
        </div>
    </main>
</div>

{% endblock %}